{% extends "base_frontoffice.html" %}
{% load staticfiles %}
{% load i18n %}


{% block pagecontent %}

    <div class="content">
        <h2>{% trans "Edit Deal" %} <strong>{{ deal.title }}</strong></h2>
        <form class="form-horizontal" role="form" action="{% url 'frontoffice_deal_create' %}" method="POST">
            {% csrf_token %}
            {{ deal_form.as_p }}
            <button type="submit" class="btn btn-default">{% trans "Save" %}</button>
        </form>
    </div>

{% endblock pagecontent %}
