{% extends "base_frontoffice.html" %}
{% load staticfiles %}
{% load i18n %}


{% block pagecontent %}

    <div class="content">
        <h2>{% trans "Deal" %} <strong>{{ deal.title }}</strong></h2>
        <p><strong>{% trans "description" %}: </strong>{{ deal.description }}</p>
        <p><strong>{% trans "location" %}: </strong>{{ deal.location }}</p>
        <p><strong>{% trans "event" %}: </strong>{{ deal.event }}</p>
        <p><strong>{% trans "category" %}: </strong>{{ deal.category_name }}</p>
        <p><a href="{% url 'frontoffice_event' deal.event.slug %}">{% trans "Back to event" %}</a></p>
    </div>

{% endblock pagecontent %}
