{% extends "base_frontoffice.html" %}
{% load staticfiles %}
{% load i18n %}


{% block pagecontent %}

    <div class="content">
        <h2>{% trans "Deals fo event" %} {{ event.name }}</h2>
        <ul>
            {% for deal in deals %}
                <li><a href="{% url 'frontoffice_deal' deal.slug %}">{{ deal }}</a></li>
            {% endfor %}
        </ul>
        <p><a href="{% url 'frontoffice_home' %}">{% trans "Back to homepage" %}</a></p>
    </div>

{% endblock pagecontent %}
