{% extends "base_frontoffice.html" %}
{% load staticfiles %}
{% load i18n %}


{% block pagecontent %}

    <div class="content">
        <h2>{% trans "Events page" %}</h2>
        <ul>
            {% for event in events %}
                <li><a href="{% url 'frontoffice_event' event.slug %}">{{ event }}</a></li>
            {% endfor %}
        </ul>
        <p><a href="{% url 'frontoffice_home' %}">{% trans "Back to homepage" %}</a></p>
    </div>

{% endblock pagecontent %}
