{% extends "base_frontoffice.html" %}
{% load staticfiles %}
{% load i18n %}


{% block pagecontent %}

    <div class="content">
        <h2>{% trans "Event" %} <strong>{{ event.title }}</strong></h2>
        <p>{{ event.description }}</p>
        <p>{{ event.location }}</p>
        <p><a href="{% url 'frontoffice_deals_by_event' event.slug %}">{% trans "See all deals for this event" %}</a></p>
        <p><a href="{% url 'frontoffice_events' %}">{% trans "Back to events" %}</a></p>
    </div>

{% endblock pagecontent %}
