{% extends "base_frontoffice.html" %}
{% load staticfiles %}
{% load i18n %}


{% block pagecontent %}

    <div class="content">
        <h2>{% trans "Frontoffice Homepage" %}</h2>

        <ul>
            {% if user.is_authenticated %}
                <li class="active"><a>{% trans "Benvenuto" %} {{ user.get_username }}</a></li>
                <li><a href="{% url 'frontoffice_profile' %}">{% trans "My profile" %}</a></li>
                <li><a href="{% url 'password_change' %}">{% trans "Cambio Password" %}</a></li>
                <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
            {% else %}
                <li class="active"><a>{% trans "Utente non autenticato" %}</a></li>
                <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
                <li><a href="{% url 'signup' %}">{% trans "Signup" %}</a></li>
            {% endif %}
        </ul>
        <ul>
            {% ifnotequal request.LANGUAGE_CODE 'en' %}<li><a href="{% url 'change_to_en' %}">{% trans "Change to english" %}</a></li>{% endifnotequal %}
            {% ifnotequal request.LANGUAGE_CODE 'it' %}<li><a href="{% url 'change_to_it' %}">{% trans "Change to italian" %}</a></li>{% endifnotequal %}
        </ul>
        <ul>
            <li><a href="{% url 'frontoffice_events' %}">{% trans "Event list" %}</a></li>
        </ul>

        <form action="{% url 'search' %}{% if query %}?query={{ query|urlencode }}{% endif %}" method="POST" class="form-inline">
            {% csrf_token %}
            {{ search_form.query }}
            <button class="btn btn-default" type="submit">{% trans "Submit" %}</button>
        </form>

    </div>

{% endblock pagecontent %}