{% extends "base_frontoffice.html" %}
{% load staticfiles %}
{% load i18n %}


{% block pagecontent %}

    <div class="content">
        <h2>{% trans "My profile page" %} ({{ user.username }})</h2>
        <h2>{% trans "my deals" %}:</h2>
        <ul>
            {% for deal in deals %}
                <li><a href="{% url 'frontoffice_deal' deal.slug %}">{{ deal }}</a></li>
            {% endfor %}
        </ul>

        <p><a class="btn btn-success" href="{% url 'frontoffice_deal_create' %}">{% trans "Insert a new deal" %}</a></p>

        <table class="datatable table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-md-8">{% trans "Title" %}</th>
                    <th class="col-md-4"></th>
                </tr>
            </thead>
            <tbody>
            {% for deal in deals %}
                <tr>
                    <td class="col-md-8">
                        <a href="{% url 'frontoffice_deal' deal.slug %}">{{ deal.title }}</a>
                    </td>
                    <td class="col-md-4">
                        <div class="btn-group" style="float: right;">
                            <a class="btn btn-default" href="{% url 'frontoffice_deal_edit' deal.slug %}">{% trans "Edit" %}</a>
                            <a class="btn btn-default" href="{% url 'frontoffice_deal_delete' deal.slug %}">{% trans "Delete" %}</a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">{% trans "no deals avalaible" %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p><a href="{% url 'frontoffice_home' %}">{% trans "Back to homepage" %}</a></p>
    </div>

{% endblock pagecontent %}
