{% extends "base_frontoffice.html" %}
{% load staticfiles %}
{% load i18n %}


{% block pagecontent %}

    <div class="content">

        <h2>{{ counter }} {% trans "results for" %} <strong>"{{ query }}"</strong></h2>

        {% for result in results %}
            <p>{{ result.title }}</p>
            <p>{{ result.description }}</p>
            {% if result.tags %}
                <p>Tags:</p>
                <ul>
                {% for tag in result.tags.all %}
                    <li>{{ tag.name }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <br>
            <br>
        {% endfor %}

        {# PAGINTATION #}
        <div class="btn-group" role="group">

            {% if results.has_previous %}
                <a class="btn btn-default" href="?{% if query %}query={{ query|urlencode }}&amp;{% endif %}{% if colour %}colour={{ colour }}&amp;{% endif %}{% if pricemin %}pricemin={{ pricemin }}&amp;{% endif %}{% if pricemax %}pricemax={{ pricemax }}&amp;{% endif %}page={{ results.previous_page_number }}{% if sort %}&amp;sort={{ sort }}{% endif %}&amp;view={{ view|default:'list' }}">{% trans "previous" %}</a>
            {% endif %}
            <a class="btn btn-default" disabled href="javascript:void(0)">page {{ results.number }} {% trans "of" %} {{ results.paginator.num_pages }}</a>
            {% if results.has_next %}
                <a class="btn btn-default" href="?{% if query %}query={{ query|urlencode }}&amp;{% endif %}{% if colour %}colour={{ colour }}&amp;{% endif %}{% if pricemin %}pricemin={{ pricemin }}&amp;{% endif %}{% if pricemax %}pricemax={{ pricemax }}&amp;{% endif %}page={{ results.next_page_number }}{% if sort %}&amp;sort={{ sort }}{% endif %}&amp;view={{ view|default:'list' }}">{% trans "next" %}</a>
            {% endif %}

        </div>

    </div>

{% endblock pagecontent %}
