{% extends 'base_frontoffice.html' %}
{% load i18n %}


{% block headtitle %}{% trans "Logout" %} | H-ELP{% endblock headtitle %}

{% block pagecontent %}

    <h2>{% trans "Logout" %}</h2>

    <div class="row">
        <div class="col-md-5 col-sm-8">
            <div class="form-signin">
                <h2>{% trans "You have successfully logged out!" %}</h2>
                <br/>
                <a href="{% url 'frontoffice_home' %}" class="btn btn-danger">{% trans "Go back to homepage" %}</a>
            </div>
        </div>
    </div>

{% endblock pagecontent %}
