{% extends 'base_frontoffice.html' %}
{% load i18n %}


{% block headtitle %}{% trans "Change Password" %} | H-ELP{% endblock headtitle %}

{% block pagecontent %}

    <h2>{% trans "Change Password" %}</h2>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-8">

            <form role="form" action="{% url 'password_change' %}" method="post">
                {% csrf_token %}
                <div class="form-group {% if form.errors.old_password %}has-error{% endif %}">
                    <label>{% trans "Current Password" %} <span class="text-danger">*</span></label>
                    <i class="fa fa-lock"></i>
                    <input class="form-control" type="password" id="id_old_password" name="old_password" placeholder="{% trans "Current Password" %}" required autofocus>
                    {% if form.errors.old_password %}<p class="help-block">{{ form.errors.old_password.as_text }}</p>{% endif %}
                </div>

                <div class="form-group {% if form.errors.new_password1 %}has-error{% endif %}">
                    <label>{% trans "Password" %} <span class="text-danger">*</span></label>
                    <i class="fa fa-lock"></i>
                    <input class="form-control" type="password" id="id_new_password1" name="new_password1" placeholder="{% trans "New Password" %}" required>
                    {% if form.errors.new_password1 %}<p class="help-block">{{ form.errors.new_password1.as_text }}</p>{% endif %}
                </div>
                <div class="form-group {% if form.errors.new_password2 %}has-error{% endif %}">
                    <label>{% trans "Password confirmation" %} <span class="text-danger">*</span></label>
                    <i class="fa fa-lock"></i>
                    <input class="form-control" type="password" id="id_new_password2" name="new_password2" placeholder="{% trans "Repeat Password" %}" required>
                    {% if form.errors.new_password2 %}<p class="help-block">{{ form.errors.new_password2.as_text }}</p>{% endif %}
                </div>
                <br>
                <div class="form-action">
                    <button type="submit" class="btn btn-danger">{% trans "Change Password" %}</button>
                </div>
            </form>

            <a href="{% url 'frontoffice_home' %}" class="btn btn-link">{% trans "Back to Homepage" %}</a>

        </div>
    </div>

{% endblock pagecontent %}
