{% extends 'base_frontoffice.html' %}
{% load i18n %}


{% block headtitle %}{% trans "Change Password" %} | H-ELP{% endblock headtitle %}

{% block pagecontent %}

    <h2>{% trans "Change Password" %}</h2>

    <!-- LOGIN REGISTER -->
    <div class="row">

        <!-- LOGIN -->
        <div class="col-md-6">
            <h2>{% trans "You've changed your password successfully!" %}</h2>
            <a href="{% url 'frontoffice_home' %}" class="btn btn-3">{% trans "Go back to homepage" %}</a>
        </div>
        <!-- END LOGIN -->

    </div>
    <!-- END LOGIN REGISTER -->

{% endblock pagecontent %}
